@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Ubuntu', sans-serif; */
}

.container_products {
    margin-top: 100px;
}

.container {
    width: 70%;
    margin: auto;
}

.nav-bars {
    height: 100px;
    background: #088A68;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bars .box-left h1 {
    color: white;
    padding: 30px 40px;
    font-weight: 500;
}

.box-right {
    display: flex;
    margin-right: 30px;
    color: #777777;
}

.export_find input {
    margin: 10px 10px;
    cursor: pointer;
    height: 45px;
    border-radius: 20px;
    border: 1px solid white;
}

.box {
    border-radius: 10px;
    width: 120px;
    margin: 8px;
    text-align: center;
    padding: 14px;
    background: #01DFA5;
}

.box a {
    text-decoration: none;
    color: white;
    border: none;
    font-size: 13px;
}

table,
th,
td {
    text-align: center;
    padding: 30px;
    border-collapse: collapse;
    border-top: 1px solid #CCCCCC;
}

tr:nth-child(even) {
    background-color: #f7f4f4;
}

#pen_delete {
    color: white;
    display: flex;
    border: none;
    margin-top: 15px;
}

#color-red {
    font-size: 25px;
    color: red;
    margin-left: 15px;
}

#color-yellow {
    font-size: 25px;
    color: yellow;
}

table {
    width: 200px;
    border: 1px solid #BDBDBD;
}

table th {
    width: 8.75%;
    text-align: center;
    color: #088A85;
}

.td_box {
    max-width: 20px;
}

.td_text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#td_name {
    color: green;
}